#header {
    background: url('../images/fazil1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0;
    padding: 200px 0 260px 0;


}

#about {
  background-color: #FFF;
  height: 500px;
  margin: 0;
  padding: 60px 0 260px 0;
  overflow: hidden;
}

#talks {
  background: url('../images/fazil4.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 0;
  padding: 200 0 260px 0;
  overflow: hidden;
}

#work {
  background-color: #a2a2a2;
  height: 800px;
  margin: 0;
  padding: 0 0 260px 0;
  overflow: hidden;
}


h1 {
  font-family: 'Abril Fatface';
  font-size: 100px;
  text-align: left;
  font-style: bold;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: left;
  font-style: italic;
}

h2 {
  font-family: 'Abril Fatface';
  text-align: center;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: justify;
}
i {
  font-family: 'Abril Fatface';
  text-align: center;
  font-size: 30px;
}

.style1 {
  border-top: 1px dashed #fff;
}
